body,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input[type=button],
input[type=reset],
input[type=submit] {
	font-family: brandon-grotesque, 'Brandon Grotesque', Futura, sans-serif;
	font-size: 1rem;
	font-weight: 500
}

body,
h3 {
	text-align: center
}

#rsvp-banner a,
h1,
h2,
h3,
h6 {
	letter-spacing: .2em
}

a,
body {
	color: #333
}

body,
html,
ol,
ul {
	margin: 0;
	padding: 0
}

#activity,
#wedding-party {
	background-color: #fdf8f7
}

#overview,
#registry,
body,
html {
	background-color: #fff
}

.underline,
hr {
	border-left: none;
	border-right: none;
	border-top: none
}

.underline,
p {
	margin-left: auto;
	margin-right: auto
}

.centered-navigation .navigation-wrapper::after,
.pane .pane-content::after,
.pane .pane-row::after,
.rsvp-events-wedding::after,
.rsvp-schedule-item::after,
.schedule-item::after {
	clear: both;
	content: ""
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	background-color: #b18f3a;
	border: none;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	padding: .75em 1em;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap
}

button:focus,
button:hover,
input[type=button]:focus,
input[type=button]:hover,
input[type=reset]:focus,
input[type=reset]:hover,
input[type=submit]:focus,
input[type=submit]:hover {
	background-color: #776027;
	color: #fff
}

button:disabled,
input[type=button]:disabled,
input[type=reset]:disabled,
input[type=submit]:disabled {
	cursor: not-allowed;
	opacity: .5
}

ol,
ul {
	list-style-type: none
}

body {
	-webkit-font-feature-settings: "kern", "liga", "pnum";
	-moz-font-feature-settings: "kern", "liga", "pnum";
	-ms-font-feature-settings: "kern", "liga", "pnum";
	font-feature-settings: "kern", "liga", "pnum";
	-webkit-font-smoothing: antialiased;
	line-height: 1.5
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.2;
	margin: 0 0 .75em
}

h1 {
	font-size: 3.75rem
}

h2 {
	font-size: 3rem;
	margin-bottom: .25em
}

h3 {
	font-size: 2.25rem
}

h4 {
	font-family: 'Surveyor Display', 'Surveyor Display A', 'Surveyor Display B', serif;
	font-size: 1.875rem;
	font-weight: 700;
	margin-bottom: 1rem
}

a {
	border-bottom: 1px solid #333;
	text-decoration: none;
	-webkit-transition: color .1s linear;
	transition: color .1s linear
}

a:active,
a:focus,
a:hover {
	border-bottom: 1px solid #b18f3a;
	color: #b18f3a;
	background: rgba(177, 143, 58, .2)
}

a:active,
a:focus {
	outline: 0
}

hr {
	border-bottom: 1px solid #ddd;
	margin: 1.5em 0
}

img,
picture {
	margin: 0;
	max-width: 100%
}

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

*,
::after,
::before {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit
}

@media screen and (max-width:667px) {
	h2 {
		font-size: 2.25rem
	}
}

@media screen and (min-width:768px) {
	h2 {
		font-size: 3rem
	}
}

#header {
	position: fixed;
	width: 100%;
	z-index: 70
}

#destination {
	background-color: #eabf8b;
	color: #fff
}

#destination .underline {
	border-color: #fff
}

#getting-there {
	background-color: #50b796;
	color: #fff
}

#getting-there .underline {
	border-color: #000
}

#activity .underline,
#lodging .underline,
#registry .underline,
#schedule .underline,
#wedding-party .underline {
	border-color: #b18f3a
}

#schedule {
	background-color: #e4f1e0
}

#lodging {
	background-color: #f9ded8
}

#thanks {
	background-color: #7f73ba;
	color: #fff
}

#thanks .underline {
	border-color: #fff
}

#footer {
	background: #7f73ba;
	padding-bottom: 1em
}

#footer a {
	border-bottom-color: #fff;
	color: #fff
}

.underline {
	display: block;
	width: 60px;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #333
}

p.larger {
	font-size: 1.5em
}

li,
p {
	font-size: 1.2em
}

p {
	max-width: 45em
}

.link-button,
input[type=submit].link-button {
	background: 0 0;
	border: 2px solid #fff;
	border-radius: 0;
	color: #fff;
	display: inline-block;
	font-size: inherit;
	font-family: brandon-grotesque, 'Brandon Grotesque', Futura, sans-serif;
	font-weight: 500;
	margin: 1em 0;
	padding: .3em .7em!important;
	-webkit-appearance: none;
	text-transform: uppercase;
	letter-spacing: .1em
}

.link-button:active,
.link-button:focus,
.link-button:hover,
input[type=submit].link-button:active,
input[type=submit].link-button:focus,
input[type=submit].link-button:hover {
	color: #b18f3a;
	background-color: #fff;
	border-bottom-width: 2px;
	border-color: #fff
}

.link-button.golden,
input[type=submit].link-button.golden {
	color: #b18f3a;
	border-color: #b18f3a
}

.link-button.golden:active,
.link-button.golden:focus,
.link-button.golden:hover,
input[type=submit].link-button.golden:active,
input[type=submit].link-button.golden:focus,
input[type=submit].link-button.golden:hover {
	color: #fff;
	background-color: #b18f3a;
	border-color: #b18f3a
}

@media screen and (max-width:667px) {
	.summary,
	.summary:last-child {
		margin-right: 0
	}
	li,
	p {
		font-weight: 300
	}
	.summary {
		text-align: left;
		float: left;
		display: block;
		width: 100%
	}
}

@media screen and (min-width:768px) {
	.summary {
		text-align: center;
		float: left;
		display: block;
		margin-right: 2.12766%;
		width: 48.93617%;
		margin-left: 25.53191%
	}
	.summary:last-child {
		margin-right: 0
	}
}

.sans-caps {
	letter-spacing: .1em
}

.round {
	margin: 1em 0 1.5em;
	border-radius: 100%
}

#markSvg {
	max-width: 200px
}

.addthisevent-drop {
	display: inline-block;
	position: relative;
	z-index: 49;
	color: #b18f3a;
	text-decoration: none;
	border-color: #b18f3a
}

.addthisevent-drop:hover {
	color: #fff;
	text-decoration: none;
	background: #b18f3a;
	border-color: #b18f3a
}

.addthisevent_dropdown {
	width: 197px;
	position: absolute;
	z-index: 50;
	padding: 0;
	background: #b18f3a;
	text-align: left;
	display: none;
	margin-top: -2px;
	margin-left: -2px;
	border: 0
}

.addthisevent_dropdown span {
	width: 198px;
	display: block;
	line-height: 110%;
	text-decoration: none;
	font-size: 9pt;
	color: #fff;
	padding: 8px 10px 9px 15px
}

.addthisevent_dropdown span:hover {
	background: #fff;
	color: #b18f3a;
	text-decoration: none;
	font-size: 9pt
}

.addthisevent span,
.addthisevent-drop ._all_day_event,
.addthisevent-drop ._description,
.addthisevent-drop ._end,
.addthisevent-drop ._facebook_event,
.addthisevent-drop ._location,
.addthisevent-drop ._organizer,
.addthisevent-drop ._organizer_email,
.addthisevent-drop ._start,
.addthisevent-drop ._summary,
.addthisevent-drop ._url {
	display: none!important
}

.addthisevent_dropdown .copyx {
	display: none
}

.addthisevent_dropdown .brx {
	width: 180px;
	height: 1px;
	overflow: hidden;
	background: #e0e0e0;
	position: absolute;
	z-index: 51;
	left: 10px;
	top: 9px
}

.addthisevent_dropdown .frs {
	position: absolute;
	top: 5px;
	cursor: pointer;
	right: 10px;
	padding-left: 10px;
	font-style: normal;
	font-weight: 400;
	text-align: right;
	z-index: 52;
	line-height: 110%;
	background: #fff;
	text-decoration: none;
	font-size: 9px;
	color: #cacaca
}

#overlay-container,
.overlay-background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.overlay-background a,
.overlay-background a:hover {
	background-color: rgba(51, 51, 51, .9)
}

.addthisevent_dropdown .frs:hover {
	color: #b18f3a
}

.addthisevent {
	visibility: hidden
}

.overlay-background {
	z-index: 201
}

.overlay-background a {
	display: block;
	width: 100%;
	height: 100%
}

#overlay-container {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	z-index: 200
}

#overlay-container .close-overlay {
	display: none;
	position: absolute;
	z-index: 204;
	right: 1em;
	top: 1em
}

#overlay-container .close-overlay.show {
	display: block
}

#overlay-container .close-overlay:hover {
	background: 0 0;
	outline: 0;
	cursor: pointer
}

#overlay-container #overlay {
	overflow-y: scroll;
	background: #fff;
	position: relative;
	border: 4px solid #b18f3a;
	z-index: 202
}

#overlay-container #overlay .overlayBack {
	position: absolute;
	top: 1em;
	left: 1em;
	z-index: 204
}

#overlay-container #overlay .overlayBack:hover {
	cursor: pointer;
	color: #b18f3a;
	background: 0 0
}

#overlay-container #overlay .screenCount {
	position: absolute;
	top: 1em;
	line-height: 1;
	text-align: center
}

#overlay-container .close-overlay,
#overlay-container .overlayBack,
#overlay-container .screenCount {
	border-bottom: none;
	color: inherit;
	line-height: 1em;
	text-decoration: none
}

#overlay-container .close-overlay.desk {
	display: none
}

#overlay-container .screenCount {
	left: 0;
	right: 0;
	width: 100%
}

@media screen and (max-width:667px) {
	#overlay-container #overlay {
		height: 100%;
		width: 100%;
		padding: 2.5em 1.5em
	}
	#overlay-container #overlay.otherEvents {
		padding-left: .5em;
		padding-right: .5em
	}
	#overlay-container #overlay.otherEvents p {
		padding-left: 1em;
		padding-right: 1em
	}
	#overlay-container .indicate-overflow.hidden {
		height: 0
	}
	#overlay-container .indicate-overflow {
		background-color: #b18f3a;
		left: 0;
		right: 0;
		bottom: 0;
		position: fixed;
		padding-top: .5em;
		-webkit-transition: height 2s, background-color 2s, -webkit-transform 2s;
		transition: height 2s, background-color 2s, transform 2s
	}
	.rsvp-overlay-inner {
		margin-top: 1.5em
	}
}

@media screen and (min-width:768px) {
	#overlay-container .indicate-overflow {
		display: none
	}
	#overlay-container #overlay {
		min-height: 44vh;
		max-height: 95vh;
		min-width: 95vw;
		padding: 4em
	}
	#overlay-container #overlay.rsvp.otherEvents {
		height: 100%;
		max-height: 100%;
		width: 100%
	}
}

@media screen and (min-width:1024px) {
	#overlay-container #overlay,
	#overlay-container #overlay.rsvp.otherEvents {
		min-width: 66vw;
		min-height: 44vh;
		max-height: 95vh
	}
	#overlay-container .screenCount {
		right: 1em
	}
	#overlay-container .close-overlay.desk {
		color: #fff;
		display: block
	}
	#overlay-container .close-overlay.mob {
		display: none
	}
}

#rsvp-banner {
	padding: .5em 0;
	background-color: #e4f1e0;
	position: fixed;
	width: 100%
}

#rsvp-banner.not-sticky {
	position: absolute
}

#rsvp-banner a {
	color: #000;
	font-weight: 500;
	border-bottom: none
}

#rsvp-banner a svg {
	padding-right: .5em
}

#rsvp-banner a:hover {
	background: 0 0;
	color: #b18f3a
}

#overlay-container #overlay.rsvp.notComing .link-button,
#overlay-container #overlay.rsvp.notComing a,
#overlay-container #overlay.rsvp.thankyou .link-button,
#overlay-container #overlay.rsvp.thankyou a {
	color: #fff;
	border-color: #fff
}

#overlay-container #overlay.rsvp {
	border-color: #b18f3a
}

#overlay-container #overlay.rsvp .underline {
	border-color: #b18f3a;
	margin-bottom: 2em
}

#overlay-container #overlay.rsvp .link-button {
	margin-top: 3em
}

#overlay-container #overlay.rsvp h3 {
	text-transform: uppercase
}

#overlay-container #overlay.rsvp.intro h3,
.rsvp-person-show .rsvp-person-name {
	text-transform: lowercase;
	font-weight: 700;
	font-family: 'Surveyor Display', 'Surveyor Display A', 'Surveyor Display B', serif
}

#overlay-container #overlay.rsvp.intro {
	background: #f9ad81;
	color: #fff;
	border-color: #fff
}

#overlay-container #overlay.rsvp.intro .underline {
	display: none
}

#overlay-container #overlay.rsvp.intro h3 {
	letter-spacing: 0;
	margin: 0
}

@media screen and (max-width:667px) {
	#overlay-container #overlay.rsvp.intro h3 {
		font-size: 3.75rem
	}
}

@media screen and (min-width:768px) {
	#overlay-container #overlay.rsvp.intro h3 {
		font-size: 6rem
	}
}

#overlay-container #overlay.rsvp.start,
#overlay-container #overlay.rsvp.start .underline {
	border-color: #b18f3a
}

#overlay-container #overlay.rsvp.otherEvents {
	background: #e4f1e0
}

#overlay-container #overlay.rsvp.notComing,
#overlay-container #overlay.rsvp.thankyou {
	color: #fff;
	background: #7f73ba;
	border-color: #fff
}

#overlay-container #overlay.rsvp.notComing .underline,
#overlay-container #overlay.rsvp.thankyou .underline {
	border-color: #fff
}

.rsvp-person-show {
	margin: 0 auto;
	max-width: 38em;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	text-align: left;
	font-size: 1.5rem;
	border-bottom: 1px solid #ddd
}

#hero,
#overview,
.rsvp-description {
	text-align: center
}

.rsvp-person-show .rsvp-person-answer,
.rsvp-person-show .rsvp-person-name {
	line-height: 1.5em;
	padding-bottom: .25em;
	padding-top: .25em
}

.rsvp-person-show .rsvp-person-name {
	-webkit-flex-grow: 2;
	-ms-flex-positive: 2;
	flex-grow: 2
}

#activities ul,
#hero .scrollplz {
	font-family: brandon-grotesque, 'Brandon Grotesque', Futura, sans-serif
}

.rsvp-person-show .rsvp-person-answer {
	background: 0 0;
	font-weight: 500;
	width: 4em;
	padding-top: .75em;
	padding-left: 1em;
	padding-right: 1em;
	letter-spacing: .1em;
	color: #999;
	border-bottom: 4px solid transparent
}

.rsvp-person-show .rsvp-person-answer:hover {
	background: 0 0;
	border-bottom: 4px solid #999;
	color: #000;
	cursor: pointer
}

.rsvp-person-show .rsvp-person-answer.checked {
	color: #000;
	border-bottom: 4px solid #b18f3a
}

@media screen and (max-width:667px) {
	.rsvp-person-show .rsvp-person-name {
		font-size: 1.5rem
	}
	.rsvp-person-show .rsvp-person-name.desk {
		display: none
	}
	.rsvp-person-show .rsvp-person-name.mob {
		display: inline
	}
	.rsvp-person-show .rsvp-person-answer {
		font-size: 1rem
	}
}

@media screen and (min-width:768px) {
	.rsvp-person-show .rsvp-person-name.desk {
		display: inline
	}
	.rsvp-person-show .rsvp-person-name.mob {
		display: none
	}
}

.rsvp-description {
	margin: 1em auto;
	max-width: 20em
}

.pane {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	min-height: 50vh;
	position: relative;
	width: 100%;
	padding: 6rem 1.5em;
}

.pane .pane-title,
.pane .title-section {
	margin-bottom: 2em
}

.pane .pane-content {
	max-width: 68em;
	margin-left: auto;
	margin-right: auto;
}

.pane .pane-content::after {
	display: table
}

.pane .pane-row {
	display: block;
	margin-bottom: 3em
}

.pane .pane-row::after {
	display: table
}

.pane.flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center
}

.pane.flex .pane-content {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center
}

.centered-navigation {
	background-color: #fff;
	min-height: 3rem;
	width: 100%;
	z-index: 75
}

.centered-navigation .nav-mobile-menu {
	color: #333;
	display: block;
	font-weight: 700;
	line-height: 3rem;
	margin: 0;
	text-decoration: none;
	text-transform: uppercase
}

@media screen and (min-width:768px) {
	.centered-navigation .nav-mobile-menu {
		display: none
	}
}

.centered-navigation .nav-mobile-menu .mobile-menu {
	position: relative;
	border-bottom: none;
	letter-spacing: .2em
}

.centered-navigation .nav-mobile-menu:focus,
.centered-navigation .nav-mobile-menu:hover {
	color: #b18f3a
}

.centered-navigation .navigation-wrapper {
	max-width: 68em;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	z-index: 70
}

.centered-navigation .navigation-wrapper::after {
	display: table
}

.centered-navigation ul.centered-navigation-menu {
	-webkit-transform-style: preserve-3d;
	clear: both;
	display: none;
	margin: 0 auto;
	overflow: visible;
	padding: 0;
	width: 100%;
	z-index: 76
}

@media screen and (max-width:667px) {
	.centered-navigation ul.centered-navigation-menu.show {
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		min-height: 200vh;
		padding-top: 4em
	}
}

@media screen and (min-width:768px) {
	.centered-navigation ul.centered-navigation-menu {
		min-height: 0;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		text-align: center
	}
}

.centered-navigation ul li.nav-link {
	display: block;
	font-size: .875rem;
	font-weight: 500;
	letter-spacing: .2em;
	line-height: 3rem;
	overflow: hidden;
	text-align: center;
	z-index: 69
}

.centered-navigation ul li.nav-link a {
	color: #333;
	display: inline-block;
	outline: 0;
	text-decoration: none;
	border-bottom: none
}

.centered-navigation ul li.nav-link a:focus,
.centered-navigation ul li.nav-link a:hover {
	background: 0 0;
	color: #b18f3a
}

@media screen and (min-width:768px) {
	.centered-navigation ul li.nav-link {
		-webkit-flex-grow: 1;
		-ms-flex-positive: 1;
		flex-grow: 1;
		padding-left: 1em;
		padding-right: 1em;
		background: 0 0;
		display: inline;
		line-height: 3rem
	}
}

.centered-navigation ul li.nav-link.mobile-only {
	display: none
}

.centered-navigation ul.show li.nav-link.mobile-only {
	display: block
}

#hero {
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	background-image: url("images/watercolor_yellow2.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	color: #9c14f7;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	height: 100vh;
	padding-top: 8em;
	padding-bottom: 1em
}

#hero #site-title-pane {
	padding-bottom: 4rem
}

#hero h1 {
	margin-bottom: 0;
	font-family: 'Surveyor Display', 'Surveyor Display A', 'Surveyor Display B', serif;
	text-transform: lowercase;
	letter-spacing: 0
}

#hero p.byline {
	text-transform: uppercase;
	letter-spacing: .2em
}

#hero .scrollplz {
	font-weight: 500;
	letter-spacing: .2em
}

#hero .scrollplz-arrow {
	height: 50px
}

@media screen and (max-width:667px) {
	#hero h1 {
		font-size: 3rem;
		font-weight: 700
	}
	#hero p.byline {
		font-size: 1.25rem
	}
	#destination h2 {
		letter-spacing: .1em
	}
	#destination p {
		text-align: left;
		line-height: 1.5em;
		padding-left: .75em;
		padding-right: .75em
	}
}

@media screen and (min-width:768px) {
	#hero h1 {
		font-size: 6rem
	}
}

#themark line {
	stroke: #fff
}

#overview h2 {
	color: #b18f3a
}

#overview #when-icon,
#overview #where-icon,
#overview #who-icon {
	width: 60px
}

#overview .when {
	margin-bottom: 3em
}

@media screen and (min-width:1024px) {
	#hero h1 {
		font-size: 8rem
	}
	#hero p.byline {
		font-size: 1.875rem
	}
	#overview .when,
	#overview .where,
	#overview .who {
		float: left;
		display: block;
		margin-right: 2.12766%;
		width: 31.91489%
	}
	#overview .when:last-child,
	#overview .where:last-child,
	#overview .who:last-child {
		margin-right: 0
	}
	#overview .who {
		margin-left: 34.04255%
	}
	#overview .when {
		margin-bottom: 0;
		margin-left: 8.51064%
	}
	#overview .where {
		margin-left: 17.02128%;
		margin-right: 0
	}
}

#destination .asheville-image {
	width: 350px
}

@media screen and (min-width:768px) {
	#destination p,
	#wedding-party p {
		text-align: center;
		line-height: 1.8;
		float: left;
		display: block;
		margin-right: 2.12766%;
		width: 82.97872%;
		margin-left: 8.51064%
	}
	#destination p:last-child,
	#wedding-party p:last-child {
		margin-right: 0
	}
}

#getting-there h3 {
	color: #000
}

#getting-there #airplane-svg,
#getting-there #car-svg {
	height: 50px;
	margin-bottom: 40px
}

@media screen and (max-width:667px) {
	#schedule .day-labels {
		float: left;
		display: block;
		margin-right: 14.28571%;
		width: 100%;
		text-align: center
	}
	#schedule .day-labels:last-child {
		margin-right: 0
	}
	#schedule .day {
		font-size: 1rem
	}
	#schedule h4 {
		text-align: center
	}
	#schedule .rsvp-schedule-item,
	#schedule .schedule-item {
		margin-bottom: 2em
	}
	#schedule .left-side,
	#schedule .right-side {
		float: left;
		display: block;
		margin-right: 14.28571%;
		width: 100%;
		text-align: center
	}
	#schedule .left-side:last-child,
	#schedule .right-side:last-child {
		margin-right: 0
	}
}

@media screen and (min-width:768px) {
	#schedule .rsvp-schedule-item .left-side,
	#schedule .schedule-item .left-side,
	#schedule h4 {
		text-align: left
	}
	#schedule .day-labels {
		float: left;
		display: block;
		margin-right: 2.12766%;
		width: 82.97872%;
		margin-left: 8.51064%;
		text-align: left
	}
	#schedule .day-labels:last-child {
		margin-right: 0
	}
	#schedule .day {
		font-size: 1.875rem
	}
	#schedule .rsvp-schedule-item,
	#schedule .schedule-item {
		margin-bottom: 3em
	}
	#schedule .rsvp-schedule-item .left-side,
	#schedule .rsvp-schedule-item .right-side,
	#schedule .schedule-item .left-side,
	#schedule .schedule-item .right-side {
		float: left;
		display: block;
		margin-right: 2.12766%;
		width: 40.42553%
	}
	#schedule .rsvp-schedule-item .left-side:last-child,
	#schedule .rsvp-schedule-item .right-side:last-child,
	#schedule .schedule-item .left-side:last-child,
	#schedule .schedule-item .right-side,
	#schedule .schedule-item .right-side:last-child {
		margin-right: 0
	}
	#schedule .rsvp-schedule-item .right-side,
	#schedule .schedule-item .right-side {
		text-align: right
	}
	#schedule .schedule-item .left-side {
		margin-left: 8.51064%
	}
	#schedule .schedule-item .right-side p:first-child {
		line-height: 3rem;
		vertical-align: bottom
	}
}

@media screen and (min-width:1024px) {
	#schedule .day-labels,
	#schedule .schedule-item .left-side {
		margin-left: 17.02128%
	}
	#schedule .day-labels {
		float: left;
		display: block;
		margin-right: 2.12766%;
		width: 65.95745%
	}
	#schedule .day-labels:last-child {
		margin-right: 0
	}
	#schedule .rsvp-schedule-item .left-side,
	#schedule .rsvp-schedule-item .right-side,
	#schedule .schedule-item .left-side,
	#schedule .schedule-item .right-side {
		float: left;
		display: block;
		margin-right: 2.12766%;
		width: 31.91489%
	}
	#schedule .rsvp-schedule-item .left-side:last-child,
	#schedule .rsvp-schedule-item .right-side:last-child,
	#schedule .schedule-item .left-side:last-child,
	#schedule .schedule-item .right-side:last-child {
		margin-right: 0
	}
}

#schedule .day-labels {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}

#schedule .day-labels li {
	display: block;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1
}

#schedule .day-labels li:first-child {
	-webkit-align-self: flex-start;
	-ms-flex-item-align: start;
	align-self: flex-start
}

#schedule .day-labels li:nth-child(2) {
	-webkit-align-self: center;
	-ms-flex-item-align: center;
	align-self: center;
	text-align: center
}

#schedule .day-labels li:last-child {
	-webkit-align-self: flex-end;
	-ms-flex-item-align: end;
	align-self: flex-end;
	text-align: right
}

#schedule .day {
	font-weight: 500;
	letter-spacing: .2em;
	padding-bottom: .5em;
	margin: 0 auto;
	border-bottom: 4px solid transparent
}

#schedule .day.active {
	border-bottom: 4px solid #b18f3a
}

#schedule .day:hover {
	background: 0 0;
	color: #b18f3a;
	cursor: pointer
}

.rsvp-schedule-item,
.schedule-item {
	display: block
}

.rsvp-schedule-item::after,
.schedule-item::after {
	display: table
}

.rsvp-schedule-item p,
.schedule-item p {
	margin: 0
}

.rsvp-events-wedding,
.rsvp-schedule-item {
	max-width: 38em;
	margin-left: auto;
	padding-top: 1.5em;
	padding-bottom: 1.75em
}

.rsvp-schedule-items {
	margin-bottom: 1em
}

.rsvp-schedule-item {
	margin-bottom: 0;
	margin-right: auto;
	border-bottom: 1px solid #ddd
}

.rsvp-schedule-item:first-child {
	border-top: 1px solid #ddd
}

@media screen and (min-width:768px) {
	.rsvp-schedule-item .left-side,
	.rsvp-schedule-item .right-side {
		float: left;
		display: block;
		margin-right: 2.12766%;
		width: 48.93617%
	}
	.rsvp-schedule-item .left-side:last-child,
	.rsvp-schedule-item .right-side:last-child {
		margin-right: 0
	}
}

.rsvp-schedule-counters {
	font-size: 1.875rem
}

.rsvp-schedule-counters .minus,
.rsvp-schedule-counters .plus {
	text-decoration: none;
	border: none;
	font-weight: 700;
	color: #b18f3a;
	padding-left: .5em;
	padding-right: .5em
}

.rsvp-schedule-counters .minus:focus,
.rsvp-schedule-counters .minus:hover,
.rsvp-schedule-counters .plus:focus,
.rsvp-schedule-counters .plus:hover {
	background: 0 0
}

.rsvp-schedule-counters .minus:hover,
.rsvp-schedule-counters .plus:hover {
	cursor: pointer;
	color: #000
}

.rsvp-schedule-counters .minus.maxed,
.rsvp-schedule-counters .plus.maxed {
	color: #999
}

.rsvp-schedule-counters .minus.maxed:hover,
.rsvp-schedule-counters .plus.maxed:hover {
	cursor: not-allowed
}

.rsvp-events-wedding {
	background-color: #f3f9f2;
	color: #000;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	margin-right: auto
}

.rsvp-events-wedding::after {
	display: table
}

.rsvp-events-wedding p {
	margin: 0
}

#activities h4 {
	margin-top: 1em
}

#activities ul {
	font-size: .875rem;
	margin: 1em 0;
	letter-spacing: .1em;
	text-transform: uppercase
}

#activities ul li {
	line-height: 2.2
}

#activities h4,
#activities li,
#activities p,
#activities ul {
	text-align: center
}

@media screen and (max-width:667px) {
	#activities .activity-col,
	#activities .activity-summary {
		float: left;
		display: block;
		width: 100%;
		margin-right: 0
	}
	#activities .activity-col:last-child,
	#activities .activity-summary:last-child {
		margin-right: 0
	}
}

@media screen and (min-width:768px) {
	#activities .activity-col {
		float: left;
		display: block;
		margin-right: 2.12766%;
		width: 31.91489%
	}
	#activities .activity-col:last-child,
	#activities .activity-col:nth-child(4n) {
		margin-right: 0
	}
	#activities .activity-col:nth-child(4n+1) {
		clear: left
	}
	#activities h4,
	#activities li,
	#activities ul {
		text-align: left
	}
	#activities ul {
		letter-spacing: 0
	}
}

@media screen and (max-width:667px) {
	#getting-there .transit-type,
	#lodging .airbnb,
	#lodging .hotel-container {
		float: left;
		display: block;
		margin-right: 14.28571%;
		width: 100%;
		margin-bottom: 2em
	}
	#getting-there .transit-type:last-child,
	#getting-there .transit-type:nth-child(2n),
	#lodging .airbnb:last-child,
	#lodging .airbnb:nth-child(2n),
	#lodging .hotel-container:last-child,
	#lodging .hotel-container:nth-child(2n) {
		margin-right: 0
	}
	#getting-there .transit-type:nth-child(2n+1),
	#lodging .airbnb:nth-child(2n+1),
	#lodging .hotel-container:nth-child(2n+1) {
		clear: left
	}
}

#faq .faq-section::after,
#faq .faq::after,
#wedding-party .party-people::after {
	clear: both;
	content: ""
}

@media screen and (min-width:768px) {
	#getting-there .transit-type,
	#lodging .airbnb,
	#lodging .hotel-container {
		float: left;
		display: block;
		width: 65.95745%;
		margin-left: 17.02128%;
		margin-right: 0;
		margin-bottom: 3em
	}
	#getting-there .transit-type:last-child,
	#lodging .airbnb:last-child,
	#lodging .hotel-container:last-child {
		margin-right: 0
	}
}

@media screen and (min-width:1024px) {
	#getting-there .transit-type,
	#lodging .airbnb,
	#lodging .hotel-container {
		float: left;
		display: block;
		width: 23.40426%;
		margin-left: 17.02128%;
		margin-right: 0
	}
	#getting-there .transit-type:last-child,
	#lodging .airbnb:last-child,
	#lodging .hotel-container:last-child {
		margin-right: 0
	}
}

#lodging .airbnb img,
#lodging .hotel-container img {
	width: 250px
}

#overlay.hotel .address {
	margin-top: 1.75em
}

#wedding-party .party-people {
	max-width: 68em;
	margin-left: auto;
	margin-right: auto
}

#wedding-party .party-people::after {
	display: table
}

#wedding-party .party-person {
	margin-bottom: 3em
}

#wedding-party .party-person img {
	border-radius: 100%;
	width: 250px
}

#wedding-party h4.party-person-name {
	font-family: 'Surveyor Display', 'Surveyor Display A', 'Surveyor Display B', serif;
	font-size: 1.875rem;
	margin-bottom: .25em
}

#faq h3,
#wedding-party h5.party-person-description {
	font-size: .875rem;
	letter-spacing: .2em;
	text-transform: uppercase
}

@media screen and (max-width:667px) {
	#wedding-party .us.pane-row {
		margin-bottom: 0
	}
	#wedding-party .party-person {
		float: left;
		display: block;
		margin-right: 14.28571%;
		width: 42.85714%
	}
	#wedding-party .party-person:last-child,
	#wedding-party .party-person:nth-child(2n) {
		margin-right: 0
	}
	#registry p {
		text-align: left
	}
}

@media screen and (min-width:768px) {
	#wedding-party .us.pane-row {
		margin-bottom: 0
	}
	#wedding-party .party-person {
		float: left;
		display: block;
		margin-right: 2.12766%;
		width: 48.93617%
	}
	#wedding-party .party-person:last-child,
	#wedding-party .party-person:nth-child(2n) {
		margin-right: 0
	}
}

@media screen and (min-width:1024px) {
	#wedding-party .party-person {
		float: left;
		display: block;
		margin-right: 2.12766%;
		width: 31.91489%
	}
	#wedding-party .party-person br {
		display: none
	}
	#wedding-party .party-person:last-child {
		margin-right: 0
	}
	#wedding-party .party-person:nth-child(2n) {
		margin-right: 2.12766%
	}
	#wedding-party .party-person:nth-child(3),
	#wedding-party .party-person:nth-child(8) {
		margin-right: 0
	}
	#wedding-party .party-person:nth-child(4),
	#wedding-party .party-person:nth-child(9) {
		margin-left: 17.02128%
	}
	#wedding-party .us .party-person {
		float: left;
		display: block;
		margin-right: 2.12766%;
		width: 48.93617%
	}
	#wedding-party .us .party-person br {
		display: none
	}
	#wedding-party .us .party-person:last-child,
	#wedding-party .us .party-person:nth-child(2) {
		margin-right: 0
	}
	#wedding-party .us .party-person img {
		width: 25pc
	}
}

#registry {
	background-image: url(https://s3.amazonaws.com/ameliaandsteveassets/plants.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 90vh
}

#registry .pane-content {
	max-width: 48em;
	background-color: #fff;
	padding: 6em 2em
}

@media screen and (min-width:768px) {
	#registry .registry-description {
		float: left;
		display: block;
		margin-right: 2.12766%;
		width: 65.95745%;
		margin-left: 17.02128%
	}
	#registry .registry-description:last-child {
		margin-right: 0
	}
	#registry p {
		text-align: center
	}
}

#thanks .underline {
	margin-bottom: 3em
}

#thanks a {
	color: #fff;
	border-bottom-color: #fff
}

#thanks ul li {
	margin-bottom: .25em
}

#faq .faq-section {
	display: block
}

#faq .faq-section::after {
	display: table
}

#faq .faq,
#faq h3 {
	display: block;
	margin-right: 0
}

#faq h3 {
	font-weight: 700;
	margin-top: 2em;
	margin-bottom: 2em;
	float: left;
	width: 100%
}

#faq h3:last-child {
	margin-right: 0
}

#faq .faq {
	padding-bottom: 1.5em
}

#faq .faq::after {
	display: table
}

@media screen and (min-width:768px) {
	#faq .faq {
		float: left;
		display: block;
		margin-right: 2.12766%;
		width: 65.95745%;
		margin-left: 17.02128%
	}
	#faq .faq:last-child {
		margin-right: 0
	}
}

#faq .faq h5 {
	font-size: 1.5rem;
	padding-bottom: 0;
	margin-bottom: .5em
}

#faq .faq h5 a:hover {
	background: 0 0;
	cursor: pointer;
	color: #b18f3a
}

#faq .faq .faq-answer {
	height: 0;
	overflow: hidden
}

#faq .faq .faq-answer.show {
	height: auto
}